<%= form_with model: [@user,@post], url: user_posts_path(@user), method: :post, local: true, scope: :post do |form| %>
  <div>
    <%= form.label :title %> <br/>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :text %> <br/>
    <%= form.text_area :text, size: "50x10" %>
  </div>

  <div>
    <%= form.submit "Create Post" %>
  </div>
<% end %>