<div class="user-container">
  <div class="user-container">
    <div class="full-post-container">
      <div class="post-header">
        <div class="post-title">
          <h3>Post #<%= @post.id %></h3>
          <h2><%= @post.author.name %></h2>
        </div>
        <div class="posts-s-container">
          <p>Comments: <%= @post.comments_counter -%>
          <p>Likes: <%= @post.likes_counter %>
        </div>
      </div>
      <div class="post">
        <%= @post.text %>
        <%if can? :destroy, @post %>
            <%= button_to 'Delete', user_post_path(user_id: @post.author_id, id: @post.id), method: :delete, data: {confirm: 'Are you sure you want to delete this post ?'} %>
        <% end %>
      </div>
    </div>
    <div class = "opinion">
    <%= link_to "Add new comment", new_user_post_comment_path(@post.author_id, @post), class: 'add-comment' %> 
    <%= form_with url: user_post_likes_path(@post.author_id, @post), method: :post, local: true do |f| %>
      <%= f.submit "Like Post" , class: "btn btn-primary" %>
    <% end %>
  </div>
    <div class="comment-container-post">
      <% @post.comments.each do |comment|%>
        <p></p><span><%= comment.user.name%> : <%= comment.text%></span></p>
        <%= button_to 'Delete Comment', user_post_comment_path(user_id: comment.user_id, post_id: comment.post_id, id: comment.id), method: :delete, class: 'button' if can? :destroy, comment %>
      <% end %>
    </div>
  </div>
</div>